@import "../constants.scss";

.priceItem-wrapper {
  display: flex;
  flex-direction: column;

  .priceItem-header {
    font-weight: 500;
    padding: 4px 12px;
    background: $timeBgColor;
    min-height: 20px;
    border-bottom: 1px solid $borderColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    &-price {
      &.profit {
        color: $profitColor;
      }

      &.deficit {
        color: $deficitColor;
      }
    }
  }

  .priceItem-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .priceItem-item {
      min-height: 45px;
      padding: 10px 12px 10px 16px;
      //display: flex;
      //justify-content: space-between;
      //align-items: center;
      border-bottom: 1px solid $borderColor;
      position: relative;
      overflow: hidden;
      transition: all 300ms linear;

      &.active {
        transform: translateX(-40px);
      }

      &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 300ms linear;

        > span {
          display: flex;
          align-items: center;
        }

        &.active {
          transform: translateX(-60px);
        }
      }

      &-del {
        width: 60px;
        height: 100%;
        padding: 0 10px;
        background: #ff4d4f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        position: absolute;
        top: 0;
        right: -61px;
        transition: all 300ms linear;

        &.active {
          transform: translateX(-60px);
        }
      }


      svg {
        width: 18px;
        height: 18px;
        margin-right: 16px;
      }
    }
  }
}