@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.main-wrapper {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#pie-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}